@charset "UTF-8";

@font-face {
  font-family: "bestellapp-icon";
  src:url("fonts/bestellapp-icon.eot");
  src:url("fonts/bestellapp-icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/bestellapp-icon.woff") format("woff"),
    url("fonts/bestellapp-icon.ttf") format("truetype"),
    url("fonts/bestellapp-icon.svg#bestellapp-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bestellapp-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bestellapp-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\61";
}
.icon-minus:before {
  content: "\62";
}
.icon-trash-o:before {
  content: "\63";
}
.icon-bars:before {
  content: "\64";
}
.icon-motorcycle:before {
  content: "\65";
}
.icon-shopping-cart:before {
  content: "\66";
}
.icon-banknote:before {
  content: "\67";
}
.icon-bag:before {
  content: "\68";
}
.icon-times:before {
  content: "\69";
}
.icon-star:before {
  content: "\6a";
}
