/* dar standar.css ek kod neveshtim :root --orang:#ff8000; in range negah midare har vaght 
khastim az in rang estefade konim var(rang mored nazar) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orang);
  padding: 15px 20px;
}
header .logo img {
  width: 120px;
}
/* bar aks kardan rang */
header .menu .icon {
  font-size: 35px;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
}
/* calc kol fazae div main ro ke 100 300ke male basket kam mikone har chi mimone miche bare restaurant-menu  */
main .restaurant-menu {
  width: calc(100% - 344px);
  background: #fcfcfc0a;
}
.restaurant-menu .menu-content .poster {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
  position: relative;
}

.restaurant-menu .menu-content .poster .big-image {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
.restaurant-menu .menu-content .poster .circle-image {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  bottom: -65px;
  box-shadow: 0px 0px 20px 4px whitesmoke;
}
.restaurant-menu .menu-content .restaurant-info {
  padding: 15px 20px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  position: relative;
}
.restaurant-info h1 {
  font-size: 25px;
}
.restaurant-info .restaurant-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.restaurant-info .restaurant-details .icon {
  color: var(--orang);
  font-size: 17px;
}
.restaurant-info .restaurant-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.category-container {
  background: #f9f7f4;
  display: flex;
  justify-content: center;
}

.category {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 5px 20px;
}
.category::before {
  content: url(../asset/icon/arrow.png);
}
.category a {
  color: #a0a3a6;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease;
  text-decoration: none;
}

.category a:hover {
  color: var(--orang);
}

/** khodam */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

input.searchBox {
  width: 1160px;
  border: none;
  padding: 20px 20px;
  margin: 0 20px;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  background-color: #efedea;
}
.green {
  background-color: green !important;
}
.blur {
  filter: blur(3px);
}
.food-list-container {
  display: flex;
  justify-content: center;
}

.food-list {
  width: 1200px;
  padding: 0 20px 15px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.food-list .food-category {
  width: 100%;
  margin: 15px 0;
}
.food-list .food-category img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}
.food-list .food-category h2 {
  padding-left: 20px;
  font-size: 22px;
}
.food-list .foods {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  width: 100%;
}
.food-list .foods .food {
  padding: 13px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  background: white;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 15%);
  border-radius: 15px;
}
.food-list .foods .food:hover {
  background: #f5f5f5;
}
.food-list .foods .food h2 {
  font-weight: bold;
  font-size: 18px;
}
.food-list .foods .food span {
  color: var(--orang);
}
.food-list .foods .food div {
  position: absolute;
  right: 0;
  top: 0;
  border-left: solid 1px #f1e9d7;
  border-bottom: solid 1px #f1e9d7;
  padding: 10px 10px 3px;
  font-size: 15px;
  cursor: pointer;
  color: var(--orang);
  border-radius: 0 15px 0 15px;
  background: white;
  transition: all 0.1s ease;
}
.food-list .foods .food div:hover {
  font-size: 17px;
}
/*Basket button section*/
main .basket-button-section {
  display: none;
  position: fixed;
  background: white;
  width: 100%;
  bottom: 0;
  justify-content: center;
  padding: 15px;
  box-shadow: 0px 5px 11px 1px #aeaeae;
}
.basket-button-section .basket-button {
  width: 94%;
  background: var(--orang);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 0 15px;
}
.basket-button-section .basket-button:hover {
  filter: brightness(0.95);
}
.basket-button-section .basket-count {
  font-family: 22px;
  position: relative;
}
.basket-button-section .basket-count span {
  position: absolute;
  font-size: 11px;
  background: black;
  border-radius: 50%;
  padding: 0px 4px;
  right: -8px;
  top: -4px;
}
.basket-button-section .basket-title {
  font-size: 22px;
}
.basket-button-section .basket-price {
  font-size: 22px;
}

/* Basket */
main aside {
  width: 344px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 12px -2px rgba(0, 0, 0, 0.08), 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
}
.basket-content {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.basket-content::-webkit-scrollbar {
  width: 8px;
}

.basket-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px;
}

.basket-content::-webkit-scrollbar-thumb {
  background: var(--orang);
  border-radius: 0px;
}

.basket-content::-webkit-scrollbar-thumb:hover {
  background: var(--orang);
}
.basket-content h2 {
  text-align: center;
  padding: 20px 0;
  border-bottom: solid 1 px #f1f1f1;
}
.basket-content .icon.icon-times {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 25px;
  cursor: pointer;
}
.basket-content .empty-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  text-align: center;
}
.empty-basket .icon {
  font-size: 40px;
}

.empty-basket h3 {
  font-size: 22px;
  margin: 10px 0 5px;
}

.basket-content .basket-info {
  padding: 10px 20px;
}
.basket-foods .basket-food h3 {
  font-size: 15px;
  color: #4c4c4c;
}
.basket-food .basket-food-info {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6c6b6b;
}
.basket-food .basket-food-info .icon {
  color: var(--orang);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.basket-food .basket-food-info .icon:hover {
  color: #dd7800;
}
.basket-food .basket-food-info .icon::before {
  vertical-align: sub;
}
.basket-food .basket-food-info .count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}
.basket-food .basket-food-info .count,
.basket-food .basket-food-info .price {
  font-size: 14px;
}
.basket-food .basket-sum {
  border-top: #f1f1f1;
  padding-top: 5px;
}
.basket-sum table {
  width: 100%;
}
.basket-sum table tr {
  color: #6c6b6b;
}
.basket-sum table tr td {
  padding-bottom: 5px;
}
.basket-sum table tr:last-child {
  color: black;
  font-weight: bold;
}
.basket-sum table tr td:last-child {
  text-align: right;
}
.basket-info .basket-checkout {
  display: flex;
  justify-content: center;
  background: var(--orang);
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  margin-top: 40px;
  padding: 15px;
  color: white;
  transition: all 0.2s ease;
}
.basket-info .basket-checkout.disable {
  background: rgb(128 128 128 / 50%);
  color: white;
}
.basket-info .basket-checkout:hover {
  filter: brightness(0.95);
}
.basket-info .basket-checkout.disable:hover {
  filter: none;
  cursor: default;
}
.overlay {
  position: fixed;
  background: rgb(0 0 0 / 60%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.overlay .overlay-container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
}
.overlay-container img {
  width: 70px;
}
.overlay-container h2 {
  font-size: 27px;
  margin-bottom: 20px;
  text-align: center;
}
.overlay-container .foods {
  width: 100%;
  border-top: dashed 2px #696969;
  padding-top: 5px;
  color: #545353;
  margin-bottom: 15px;
}
.overlay-container .foods tr td:last-child {
  text-align: right;
}
.overlay-container .total {
  width: 100%;
  border-top: dashed 2px #696969;
  padding-top: 5px;
  color: #545353;
}
.overlay-container .total tr td:last-child {
  text-align: right;
}
.overlay-container .close-button {
  margin-top: 100px;
  background: var(--orang);
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transform: all 0.2s ease;
}
.overlay-container .close-button:hover {
  filter: brightness(95%);
}

footer {
  display: flex;
  justify-content: center;
  background-color: #efedea;
}
.footer_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 30px 0;
  font-weight: 300px;
  font-size: 1rem;
}
