:root{
  --orang:#f36805;
  
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:'NationalPark', Arial, Helvetica, sans-serif;
}
.euro::after{
  content:'€';
}
.d-none {
  display: none !important;
}
